<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( f )" #f="ngForm" class="form-register">
            <h2 class="form__titulo">Control de requerimientos/ Incidentes</h2>
            <div class="contenedor-inputs">
                <div class="form-group two-fields">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ID" [(ngModel)]="control.id" name="id" disabled="disabled">
                        <input [disabled]="id !== 'nuevo'? true : null" type="text" class="form-control" placeholder="Código" [(ngModel)]="control.codigo" name="codigo" required>
                    </div>
                </div>
                <div class="form-group two-fields">
                    <div class="input-group">
                        <select name="cliente" [(ngModel)]="control.clienteID" (ngModelChange)="onSelectContacto(control.clienteID)" placeholder="Cliente" class="form-control" name="idCliente">
                        <option hidden value=null [disabled]="true">Seleccione cliente</option>
                        <option [ngValue]="cliente.id" *ngFor="let cliente of clientes" class="option">{{cliente.nombre}}</option> 
                        </select>
                        <select name="contacto" [(ngModel)]="control.contactoID" placeholder="Contacto" class="form-control">
                        <option hidden value=null [disabled]="true">Seleccione contacto</option>
                        <option [ngValue]="contacto.id" *ngFor="let contacto of contactos" class="option">{{contacto.nombres}}</option> 
                        </select>
                    </div>
                </div>


                <div class="form-group two-fields">
                    <div class="input-group">
                        <select name="responsable" [(ngModel)]="control.responsableID" placeholder="Responsable" class="form-control">
                        <option hidden value=null [disabled]="true">Seleccione responsable</option>
                        <option [ngValue]="responsable.id" *ngFor="let responsable of responsables" class="option">{{responsable.responsable}}</option> 
                    </select>
                        <br>
                        <button (click)="onSelectEstado(control.tipoID)" *ngIf="control.tipoID === 1" class="btn btn-outline-success w-50 btn-space" type="button">
                        <i class="fas fa-hands-helping"></i>
                        Incidente
                    </button>

                        <button (click)="onSelectEstado(control.tipoID)" *ngIf="control.tipoID === 2" class="btn btn-outline-danger w-50 btn-space" type="button">
                        <i class="fas fa-laptop-code"></i>
                        Requerimiento
                    </button>
                    </div>
                </div>

                <div class="form-group solo">
                    <input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="control.descripcion" name="descripcion" required>
                </div>

                <div class="form-group two-fields">
                    <div class="input-group">
                        <select name="prioridad" [(ngModel)]="control.prioridadID" class="form-control">
                        <option hidden value=null [disabled]="true">Seleccione prioridad</option>
                        <option [ngValue]="prioridad.id" *ngFor="let prioridad of prioridades" class="option">{{prioridad.descripcion}}</option> 
                    </select>
                        <select name="estado" [(ngModel)]="control.estadoID" placeholder="Estado" class="form-control">
                        <option hidden value=null [disabled]="true">Seleccione estado</option>
                        <option [ngValue]="estado.id" *ngFor="let estado of estados" class="option">{{estado.descripcion}}</option> 
                    </select>
                    </div>
                </div>

                <div class="form-group two-fields">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Horas dev" [(ngModel)]="control.horasDEV" name="horasDEV" required>
                        <input type="text" class="form-control" placeholder="Horas qas" [(ngModel)]="control.horasQAS" name="horasQAS" required>
                    </div>
                </div>

                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25">
                            <i class="fa fa-save"></i>
                            Guardar
                    </button>

                    <button type="submit" class="btn btn-danger w-25" routerLink="/controles">
                            <i class="fa fa-arrow-left"></i>
                            Regresar
                    </button>
                </div>
                <hr>
            </div>

        </form>

    </div>
</div>