* {
    box-sizing: border-box;
}

.form-register {
    width: 95%;
    max-width: 950px;
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 7px;
    border: 1px solid rgb(60, 116, 238);
}

.form__titulo {
    background: rgb(0, 132, 255);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(20, 67, 220);
}

.contenedor-inputs {
    padding: 0 30px;
}

contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    margin-right: 50px;
}